<nav class="admin-menu">
    <ul>
        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Books", "Index", "Book")</li>
        <li>@Html.ActionLink("Authors", "Index", "Author")</li>
        <li>@Html.ActionLink("Genres", "Index", "Genre")</li>
        <li>@Html.ActionLink("Publishers", "Index", "Publisher")</li>
        <li>@Html.ActionLink("Users", "Index", "User")</li>
        <li>@Html.ActionLink("Reviews", "Index", "Reviews")</li>
    </ul>
</nav>
